# Build and Release Folders
bin/
bin-debug/
bin-release/
[Oo]bj/
[Oo]bj/ # FlashDevelop obj
[Bb]in/ # FlashDevelop bin

# Other files and folders
.settings/

# Executables
*.swf
*.air
*.ipa
*.apk

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
Csharp_Demo/.vs/Csharp_Demo/v14/.suo
Csharp_Demo/Mod01Demo01/obj/Debug/Mod01Demo01.csproj.FileListAbsolute.txt
*.vsp
*.suo
*.suo
